{% extends 'layout/layout.html' %}
{% block title %}
    Thông tin cửa hàng
{% endblock  %}

{% block content %}
	<div class="aboutus">
		<div class="container">
			<a class="navbar-brand"><h1><span>Giới thiệu chung</span></h1></a>
			<hr>
			<div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            	<h4>Lịch sử của Nana Shop</h4>
				<img src="about_us/hinh_shop.jpg" class="img-responsive">
                <br></br>
				<p>Nana Shop là chuỗi siêu thị mỹ phẩm  chính hãng và uy tín hàng đầu Việt Nam. Hoạt động từ 2009 đến nay, Sammi đã có gần 10 năm kinh nghiệp trong công cuộc trở thành tên tuổi chủ lực của ngành mỹ phẩm tại Việt Nam.
                Khởi đầu với  cửa hàng đầu tiên  tại ngõ Núi Trúc, Hà Nội vào năm 2013, sau 5 năm phát triển, Sammi Shop đã có 13  cửa hàng tại hai thành phố lớn nhất nước.
                Số lượng khách hàng đến với Sammi Shop tăng lên đáng kể mỗi năm. Sammi Shop luôn mong muốn đem lại cho khách hàng những lợi ích tốt nhất và những giá trị hoàn hảo nhất.
                Giữa một thị trường mỹ phẩm xách tay thượng vàng hạ cám, Sammi Shop đang mở lối đi riêng bằng cách kết nối các thương hiệu nổi tiếng, song song với việc mở rộng mạng lưới cửa hàng để đến gần tín đồ làm đẹp hơn.
                Sammi đã hợp tác chính thức và phân phối độc quyền nhiều thương hiệu mỹ phẩm nổi tiếng trên thế giới như Maybelline, Loreal , Cosrx, Benton, Murad, Klairs , Bioderma, Vichy , Laroch Possay, Instree, By Wishtrend, I’m from …  Khi đến với Sammi Shop, khách hàng có thể tìm mua được những sản phẩm chính hãng với giá cả cạnh tranh nhất trên thị trường. </p>
                <h4>Trình độ và dịch vụ </h4>
                <img src="about_us/hinh_shop_2.jpg" class="img-responsive">
                <br></br>
				<p>DỊCH VỤ TƯ VẤN VÀ CHĂM SÓC KHÁCH HÀNG CHUYÊN NGHIỆP
                Khách hàng sẽ được phục vụ chu đáo từ  khi vừa đặt chân đến Sammi Shop. Đội ngũ nhân viên tư vấn nhiệt tình, thân thiện và luôn đặt châm ngôn “Khách hàng là thượng đế” lên trên tất cả. Nhân viên tư vấn được đào tạo chuyên nghiệp, có kiến thức đầy đủ về Skincare lẫn Make up để phục vụ hết mình cho khách hàng từ những cô nàng ‘trong nghề’ cho đến những cô gái ‘chập chững’ mới bắt đầu đam mê mỹ phẩm,
                Ngoài ra , Sammi Shop là chuỗi cửa hàng mỹ phẩm đầu tiên có hệ thống chăm sóc khách hàng nhiệt tình và tận tụy nhất, Sammi luôn lắng nghe ý kiến của khách hàng từ những điều đơn giản nhất để ngày càng hoàn thiện hơn về mọi mặt. </p>
                <h4>Định hướng phát triển</h4>
                <img src="about_us/hinh_shop_3.jpg" class="img-responsive">
                <br></br>
                <p>MỤC TIÊU PHÁT TRIỂN
                Trong  năm 2018 hứa hẹn sẽ bùng nổ rất nhiều kế hoạch gặp gỡ, ký kết và hợp tác chính thức giữa Sammi Shop và các nhãn hàng lớn trên thế giới. Đồng thời thực hiện mục tiêu phát triển hệ thống cửa hàng từ con số 13 lên 24 cửa hàng trên toàn quốc.
                Trong tương lai, Sammi Shop sẽ  tăng cường mở rộng để hoàn thành mục tiêu trở thành hệ thống siêu thị mỹ phẩm Sammi Shop giúp khách hàng thỏa sức mua sắm, trải nghiệm sản phẩm trực tiếp những thương hiệu, sản phẩm mỹ phẩm uy tín, chất lượng với giá cả phải chăng cùng hàng loạt các ưu đãi hấp dẫn.</p>
			</div>
        </div>
    </div>
{% endblock  %}