    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{{url_for('static', filename='css_js/js/jquery-3.3.1.min.js')}}"></script>	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='css_js/dist/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='Company/js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{url_for('static', filename='Company/js/jquery.isotope.min.js')}}"></script>  
	<script src="{{url_for('static', filename='Company/js/wow.min.js')}}"></script>
	<script src="{{url_for('static', filename='Company/js/functions.js')}}"></script>
    <script src="{{url_for('static',filename='css_js/assets/js/vendor/popper.min.js')}}"></script>
	
  </body>